/*  your css code here. If applicable */
.main-container{
	background-color:#f5f5f5;
	padding:10px;
}
.testimonial{
	padding:5px;
	border:1px solid black;
	background-color:white;
	margin:15px
}

.text{
	font-style:normal;
}
.author{
	text-align:right;
	font-style:italic;
}